@font-face {
  font-family: "Chomsky";
  src: url("../fonts/chomsky/Chomsky.otf") format("otf"),
    url("../fonts/chomsky/Chomsky.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

table {
  border: 3px solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  outline: none;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 90%;
  table-layout: fixed;
  line-height: 1.25;
}

table caption {
  font-size: 2rem;
  margin: 0.5em 0;
  font-family: "Chomsky";
}

table tr {
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 650px) {
  table {
    border: none;
    box-shadow: none;
    width: 100%;
  }

  table caption {
    font-size: 1.5em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border: 3px solid;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,
      4px 4px 0px 0px, 5px 5px 0px 0px;
    display: block;
    margin-bottom: 1rem;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
