.backtotop-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
  cursor: pointer;
  border: 3px solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: rgb(243, 235, 235);
}
.backtotop-btn:active {
  box-shadow: 0px 0px 0px 0px;
  bottom: 1.8rem;
  right: 1.8rem;
}
